'.source.php':
  '%bin2dec':
    'prefix': 'bin2dec'
    'body': 'bindec(${1:binary_string});'
  '%bin_to_dec':
    'prefix': 'bin_to_dec'
    'body': 'bindec(${1:binary_string});'
  '%bin_to_hex':
    'prefix': 'bin_to_hex'
    'body': 'bin2hex${1:str};'
  '%bintohex':
    'prefix': 'bintohex'
    'body': 'bin2hex${1:str};'
  '%cal2jd':
    'prefix': 'cal2jd'
    'body': 'cal_to_jd(${1:calendar}, ${2:month}, ${3:day}, ${4:year});'
  '%cal_to_jd':
    'prefix': 'cal_to_jd'
    'body': 'cal_to_jd(${1:calendar}, ${2:month}, ${3:day}, ${4:year});'
  '%deg_to_rad':
    'prefix': 'deg_to_rad'
    'body': 'deg2rad(${1:float});'
  '%degtorad':
    'prefix': 'degtorad'
    'body': 'deg2rad(${1:float});'
  '%f2k':
    'prefix': 'f2k'
    'body': 'ftok(${1:pathname}, ${2:proj});'
  '%f_to_k':
    'prefix': 'f_to_k'
    'body': 'ftok(${1:pathname}, ${2:proj});'
  '%french2jd':
    'prefix': 'french2jd'
    'body': 'frenchtojd(${1:month}, ${2:day}, ${3:year});'
  '%french_to_jd':
    'prefix': 'french_to_jd'
    'body': 'frenchtojd(${1:month}, ${2:day}, ${3:year});'
  '%gregorian2jd':
    'prefix': 'gregorian2jd'
    'body': 'gregoriantojd(${1:month}, ${2:day}, ${3:year});'
  '%gregorian_to_jd':
    'prefix': 'gregorian_to_jd'
    'body': 'gregoriantojd(${1:month}, ${2:day}, ${3:year});'
  '%hex_to_bin':
    'prefix': 'hex_to_bin'
    'body': 'hex2bin(${1:data});'
  '%hextobin':
    'prefix': 'hextobin'
    'body': 'hex2bin(${1:data});'
  '%image2wbmp':
    'prefix': 'image2wbmp'
    'body': 'image2wbmp(${1:image}${2:, ${3:filename}}${4:, ${5:threshold}});'
  '%image_to_wbmp':
    'prefix': 'image_to_wbmp'
    'body': 'image2wbmp(${1:image}${2:, ${3:filename}}${4:, ${5:threshold}});'
  '%imagetowbmp':
    'prefix': 'imagetowbmp'
    'body': 'image2wbmp(${1:image}${2:, ${3:filename}}${4:, ${5:threshold}});'
  '%imagetruecolor2palette':
    'prefix': 'imagetruecolor2palette'
    'body': 'imagetruecolortopalette(${1:image}, ${2:dither}, ${3:ncolors});'
  '%imagetruecolor_to_palette':
    'prefix': 'imagetruecolor_to_palette'
    'body': 'imagetruecolortopalette(${1:image}, ${2:dither}, ${3:ncolors});'
  '%imagetype2extension':
    'prefix': 'imagetype2extension'
    'body': 'image_type_to_extension(${1:imagetype}${2:, ${3:include_dot}});'
  '%imagetype2mimetype':
    'prefix': 'imagetype2mimetype'
    'body': 'image_type_to_mime_type${1:imagetype};'
  '%imagetypetoextension':
    'prefix': 'imagetypetoextension'
    'body': 'image_type_to_extension(${1:imagetype}${2:, ${3:include_dot}});'
  '%imagetypetomimetype':
    'prefix': 'imagetypetomimetype'
    'body': 'image_type_to_mime_type${1:imagetype};'
  '%inet_n2p':
    'prefix': 'inet_n2p'
    'body': 'inet_ntop(${1:in_addr});'
  '%inet_n_to_p':
    'prefix': 'inet_n_to_p'
    'body': 'inet_ntop(${1:in_addr});'
  '%inet_p2n':
    'prefix': 'inet_p2n'
    'body': 'inet_pton(${1:address});'
  '%inet_p_to_n':
    'prefix': 'inet_p_to_n'
    'body': 'inet_pton(${1:address});'
  '%ip_to_long':
    'prefix': 'ip_to_long'
    'body': 'ip2long(${1:ip_address});'
  '%iptolong':
    'prefix': 'iptolong'
    'body': 'ip2long(${1:ip_address});'
  '%jd2cal':
    'prefix': 'jd2cal'
    'body': 'cal_from_jd(${1:jd}, ${2:calendar});'
  '%jd2cal:CAL_FRENCH':
    'prefix': 'jd2cal:CAL_FRENCH'
    'body': 'cal_from_jd(${1:jd}, CAL_FRENCH);'
  '%jd2cal:CAL_GREGORIAN':
    'prefix': 'jd2cal:CAL_GREGORIAN'
    'body': 'cal_from_jd(${1:jd}, CAL_GREGORIAN);'
  '%jd2cal:CAL_JEWISH':
    'prefix': 'jd2cal:CAL_JEWISH'
    'body': 'cal_from_jd(${1:jd}, CAL_JEWISH);'
  '%jd2cal:CAL_JULIAN':
    'prefix': 'jd2cal:CAL_JULIAN'
    'body': 'cal_from_jd(${1:jd}, CAL_JULIAN);'
  '%jd2french':
    'prefix': 'jd2french'
    'body': 'jdtofrench(${1:juliandaycount});'
  '%jd2gregorian':
    'prefix': 'jd2gregorian'
    'body': 'jdtogregorian(${1:julianday});'
  '%jd2jewish':
    'prefix': 'jd2jewish'
    'body': 'jdtojewish(${1:juliandaycount}${2:, ${3:hebrew}}${4:, ${5:fl}});'
  '%jd2jewish:hebrew':
    'prefix': 'jd2jewish:hebrew'
    'body': 'jdtojewish(${1:juliandaycount}, true, ${2:${3:fl}});'
  '%jd2jewish:hebrew:CAL_JEWISH_ADD_ALAFIM':
    'prefix': 'jd2jewish:hebrew:CAL_JEWISH_ADD_ALAFIM'
    'body': 'jdtojewish(${1:juliandaycount}, true, CAL_JEWISH_ADD_ALAFIM);'
  '%jd2jewish:hebrew:CAL_JEWISH_ADD_ALAFIM_GERESH':
    'prefix': 'jd2jewish:hebrew:CAL_JEWISH_ADD_ALAFIM_GERESH'
    'body': 'jdtojewish(${1:juliandaycount}, true, CAL_JEWISH_ADD_ALAFIM_GERESH);'
  '%jd2jewish:hebrew:CAL_JEWISH_ADD_GERESHAYIM':
    'prefix': 'jd2jewish:hebrew:CAL_JEWISH_ADD_GERESHAYIM'
    'body': 'jdtojewish(${1:juliandaycount}, true, CAL_JEWISH_ADD_GERESHAYIM);'
  '%jd2julian':
    'prefix': 'jd2julian'
    'body': 'jdtojulian(${1:julianday});'
  '%jd2unix':
    'prefix': 'jd2unix'
    'body': 'jdtounix(${1:jday});'
  '%jd_to_cal':
    'prefix': 'jd_to_cal'
    'body': 'cal_from_jd(${1:jd}, ${2:calendar});'
  '%jd_to_cal:CAL_FRENCH':
    'prefix': 'jd_to_cal:CAL_FRENCH'
    'body': 'cal_from_jd(${1:jd}, CAL_FRENCH);'
  '%jd_to_cal:CAL_GREGORIAN':
    'prefix': 'jd_to_cal:CAL_GREGORIAN'
    'body': 'cal_from_jd(${1:jd}, CAL_GREGORIAN);'
  '%jd_to_cal:CAL_JEWISH':
    'prefix': 'jd_to_cal:CAL_JEWISH'
    'body': 'cal_from_jd(${1:jd}, CAL_JEWISH);'
  '%jd_to_cal:CAL_JULIAN':
    'prefix': 'jd_to_cal:CAL_JULIAN'
    'body': 'cal_from_jd(${1:jd}, CAL_JULIAN);'
  '%jd_to_french':
    'prefix': 'jd_to_french'
    'body': 'jdtofrench(${1:juliandaycount});'
  '%jd_to_gregorian':
    'prefix': 'jd_to_gregorian'
    'body': 'jdtogregorian(${1:julianday});'
  '%jd_to_jewish':
    'prefix': 'jd_to_jewish'
    'body': 'jdtojewish(${1:juliandaycount}${2:, ${3:hebrew}${4:, ${5:fl}});'
  '%jd_to_jewish:hebrew':
    'prefix': 'jd_to_jewish:hebrew'
    'body': 'jdtojewish(${1:juliandaycount}, true, ${2:${3:fl}});'
  '%jd_to_julian':
    'prefix': 'jd_to_julian'
    'body': 'jdtojulian(${1:julianday});'
  '%jd_to_unix':
    'prefix': 'jd_to_unix'
    'body': 'jdtounix(${1:jday});'
  '%jdtocal':
    'prefix': 'jdtocal'
    'body': 'cal_from_jd(${1:jd}, ${2:calendar});'
  '%jdtocal:CAL_FRENCH':
    'prefix': 'jdtocal:CAL_FRENCH'
    'body': 'cal_from_jd(${1:jd}, CAL_FRENCH);'
  '%jdtocal:CAL_GREGORIAN':
    'prefix': 'jdtocal:CAL_GREGORIAN'
    'body': 'cal_from_jd(${1:jd}, CAL_GREGORIAN);'
  '%jdtocal:CAL_JEWISH':
    'prefix': 'jdtocal:CAL_JEWISH'
    'body': 'cal_from_jd(${1:jd}, CAL_JEWISH);'
  '%jdtocal:CAL_JULIAN':
    'prefix': 'jdtocal:CAL_JULIAN'
    'body': 'cal_from_jd(${1:jd}, CAL_JULIAN);'
  '%jewish2jd':
    'prefix': 'jewish2jd'
    'body': 'jewishtojd(${1:month}, ${2:day}, ${3:year});'
  '%jewish_to_jd':
    'prefix': 'jewish_to_jd'
    'body': 'jewishtojd(${1:month}, ${2:day}, ${3:year});'
  '%jpeg_to_wbmp':
    'prefix': 'jpeg_to_wbmp'
    'body': ''
  '%jpegtowbmp':
    'prefix': 'jpegtowbmp'
    'body': 'jpeg2wbmp(${1:jpegname}, ${2:wbmpname}${4:, ${3:dest_height}}${4:, ${5:dest_weight}}${6:, ${7:threshold}});'
  '%julian2jd':
    'prefix': 'julian2jd'
    'body': 'juliantojd(${1:month}, ${2:day}, ${3:year});'
  '%julian_to_jd':
    'prefix': 'julian_to_jd'
    'body': 'juliantojd(${1:month}, ${2:day}, ${3:year});'
  '%long_to_ip':
    'prefix': 'long_to_ip'
    'body': 'long2ip(${1:proper_address});'
  '%longtoip':
    'prefix': 'longtoip'
    'body': 'long2ip(${1:proper_address});'
  '%mb_str2lower':
    'prefix': 'mb_str2lower'
    'body': 'mb_strtolower(${1:str}${2:, ${3:encoding}});'
  '%mb_str2upper':
    'prefix': 'mb_str2upper'
    'body': 'mb_strtoupper(${1:str}${2:, ${3:encoding}});'
  '%mb_str_to_lower':
    'prefix': 'mb_str_to_lower'
    'body': 'mb_strtolower(${1:str}${2:, ${3:encoding}});'
  '%mb_str_to_upper':
    'prefix': 'mb_str_to_upper'
    'body': 'mb_strtoupper(${1:str}${2:, ${3:encoding}});'
  '%nl_to_br':
    'prefix': 'nl_to_br'
    'body': 'nl2br(${1:string}${2:, ${3:is_xhtml}});'
  '%nltobr':
    'prefix': 'nltobr'
    'body': 'nl2br(${1:string}${2:, ${3:is_xhtml}});'
  '%png_to_wbmp':
    'prefix': 'png_to_wbmp'
    'body': 'png2wbmp(${1:pngname}, ${2:wbmpname}${4:, ${3:dest_height}}${4:, ${5:dest_weight}}${6:, ${7:threshold}});'
  '%pngtowbmp':
    'prefix': 'pngtowbmp'
    'body': 'png2wbmp(${1:pngname}, ${2:wbmpname}${4:, ${3:dest_height}}${4:, ${5:dest_weight}}${6:, ${7:threshold}});'
  '%rad2deg':
    'prefix': 'rad2deg'
    'body': 'rad2deg(${1:number});'
  '%rad_to_deg':
    'prefix': 'rad_to_deg'
    'body': 'rad2deg(${1:number});'
  '%str2lower':
    'prefix': 'str2lower'
    'body': 'strtolower(${1:str});'
  '%str2time':
    'prefix': 'str2time'
    'body': 'strtotime(${1:time}${2:, ${3:now}});'
  '%str2upper':
    'prefix': 'str2upper'
    'body': 'strtoupper(${1:str});'
  '%str_to_lower':
    'prefix': 'str_to_lower'
    'body': 'strtolower(${1:str});'
  '%str_to_time':
    'prefix': 'str_to_time'
    'body': 'strtotime(${1:time}${2:, ${3:now}});'
  '%str_to_upper':
    'prefix': 'str_to_upper'
    'body': 'strtoupper(${1:str});'
  '%streamcopy2stream':
    'prefix': 'streamcopy2stream'
    'body': 'stream_copy_to_stream(${1:source}, ${2:dest}${4:, ${3:maxlenght}${4:, ${5:offset}}});'
  '%streamcopytostream':
    'prefix': 'streamcopytostream'
    'body': 'stream_copy_to_stream(${1:source}, ${2:dest}${4:, ${3:maxlenght}${4:, ${5:offset}}});'
  '%unix2jd':
    'prefix': 'unix2jd'
    'body': 'unixtojd(${1:timestamp);'
  '%unix_to_jd':
    'prefix': 'unix_to_jd'
    'body': 'unixtojd(${1:timestamp);'
