'.source.php':
  '%add_cslashes':
    'prefix': 'add_cslashes'
    'body': 'addcslashes(${1:str}, ${2:charlist});'
  '%add_slashes':
    'prefix': 'add_slashes'
    'body': 'addslashes(${1:str});'
  '%base64decode':
    'prefix': 'base64decode'
    'body': 'base64_decode(${1:data}${2:, ${3:strict}});'
  '%base64decode:strict':
    'prefix': 'base64decode:strict'
    'body': 'base64_decode(${1:data}, true);'
  '%base64encode':
    'prefix': 'base64encode'
    'body': 'base64_encode(${1:data});'
  '%base_name':
    'prefix': 'base_name'
    'body': 'basename(${1:path}${2:, ${3:suffix}});'
  '%bc_add':
    'prefix': 'bc_add'
    'body': 'bcadd(${1:left_operand}, ${2:right_operand}${3:, ${4:scale}});'
  '%bc_comp':
    'prefix': 'bc_comp'
    'body': 'bccomp(${1:left_operand}, ${2:right_operand}${3:, ${4:scale}});'
  '%bc_div':
    'prefix': 'bc_div'
    'body': 'bcdiv(${1:left_operand}, ${2:right_operand}${3:, ${4:scale}});'
  '%bc_mod':
    'prefix': 'bc_mod'
    'body': 'bcmod(${1:left_operand}, ${3:modulus});'
  '%bc_mul':
    'prefix': 'bc_mul'
    'body': 'bcmul(${1:left_operand}, ${2:right_operand}${3:, ${4:scale}});'
  '%bc_pow':
    'prefix': 'bc_pow'
    'body': 'bcpow(${1:left_operand}, ${2:right_operand}${3:, ${4:scale}});'
  '%bc_powmod':
    'prefix': 'bc_powmod'
    'body': 'bcpowmod(${1:left_operand}, ${3:right_operand}, ${4:modulus}${5:, ${6:scale}});'
  '%bc_scale':
    'prefix': 'bc_scale'
    'body': 'bcscale(${1:scale});'
  '%bc_sqrt':
    'prefix': 'bc_sqrt'
    'body': 'bcsqrt(${1:operand}${2:, ${3:scale}});'
  '%bc_sub':
    'prefix': 'bc_sub'
    'body': 'bcsub(${1:left_operand}, ${2:right_operand}${3:, ${4:scale}});'
  '%bin_dec':
    'prefix': 'bin_dec'
    'body': 'bindec(${1:binary_string});'
  '%bz_close':
    'prefix': 'bz_close'
    'body': 'bzclose(${1:bz});'
  '%bz_compress':
    'prefix': 'bz_compress'
    'body': 'bzcompress(${1:source}${2:, ${3:blocksize}${4:, ${5:workfactor}}});'
  '%bz_compress:1':
    'prefix': 'bz_compress:1'
    'body': 'bzcompress(${1:source}, 1${2:, ${3:workfactor}});'
  '%bz_compress:2':
    'prefix': 'bz_compress:2'
    'body': 'bzcompress(${1:source}, 2${2:, ${3:workfactor}});'
  '%bz_compress:3':
    'prefix': 'bz_compress:3'
    'body': 'bzcompress(${1:source}, 3${2:, ${3:workfactor}});'
  '%bz_compress:4':
    'prefix': 'bz_compress:4'
    'body': 'bzcompress(${1:source}, 4${2:, ${3:workfactor}});'
  '%bz_compress:5':
    'prefix': 'bz_compress:5'
    'body': 'bzcompress(${1:source}, 5${2:, ${3:workfactor}});'
  '%bz_compress:6':
    'prefix': 'bz_compress:6'
    'body': 'bzcompress(${1:source}, 6${2:, ${3:workfactor}});'
  '%bz_compress:7':
    'prefix': 'bz_compress:7'
    'body': 'bzcompress(${1:source}, 7${2:, ${3:workfactor}});'
  '%bz_compress:8':
    'prefix': 'bz_compress:8'
    'body': 'bzcompress(${1:source}, 8${2:, ${3:workfactor}});'
  '%bz_compress:9':
    'prefix': 'bz_compress:9'
    'body': 'bzcompress(${1:source}, 9${2:, ${3:workfactor}});'
  '%bz_decompress':
    'prefix': 'bz_decompress'
    'body': 'bzdecompress(${1:source}${2:, ${3:small}});'
  '%bz_decompress:small':
    'prefix': 'bz_decompress:small'
    'body': 'bzdecompress(${1:source}, true);'
  '%bz_errno':
    'prefix': 'bz_errno'
    'body': 'bzerrno(${1:bz});'
  '%bz_error':
    'prefix': 'bz_error'
    'body': 'bzerror(${1:bz});'
  '%bz_errstr':
    'prefix': 'bz_errstr'
    'body': 'bzerrstr(${1:bz});'
  '%bz_flush':
    'prefix': 'bz_flush'
    'body': 'bzflush(${1:bz});'
  '%bz_open':
    'prefix': 'bz_open'
    'body': 'bzopen(${1:filename}, ${2:mode});'
  '%bz_read':
    'prefix': 'bz_read'
    'body': 'bzread(${1:bz}${2:, ${3:length}});'
  '%bz_write':
    'prefix': 'bz_write'
    'body': 'bzwrite(${1:bz}, ${2:data}${3:, ${4:length}});'
  '%calinfo':
    'prefix': 'calinfo'
    'body': 'cal_info(${1:calendar});'
  '%calinfo:CAL_FRENCH':
    'prefix': 'calinfo:CAL_FRENCH'
    'body': 'cal_info(CAL_FRENCH);'
  '%calinfo:CAL_GREGORIAN':
    'prefix': 'calinfo:CAL_GREGORIAN'
    'body': 'cal_info(CAL_GREGORIAN);'
  '%calinfo:CAL_JEWISH':
    'prefix': 'calinfo:CAL_JEWISH'
    'body': 'cal_info(CAL_JEWISH);'
  '%calinfo:CAL_JULIAN':
    'prefix': 'calinfo:CAL_JULIAN'
    'body': 'cal_info(CAL_JULIAN);'
  '%check_date':
    'prefix': 'check_date'
    'body': 'checkdate(${1:day}, ${2:month}, ${3:year});'
  '%check_dnsrr':
    'prefix': 'check_dnsrr'
    'body': 'checkdnsrr(${1:host}${2:, ${3:type}});'
  '%check_dnsrr:A':
    'prefix': 'check_dnsrr:A'
    'body': 'checkdnsrr(${1:host}, A);'
  '%check_dnsrr:A6':
    'prefix': 'check_dnsrr:A6'
    'body': 'checkdnsrr(${1:host}, A6);'
  '%check_dnsrr:AAAA':
    'prefix': 'check_dnsrr:AAAA'
    'body': 'checkdnsrr(${1:host}, AAAA);'
  '%check_dnsrr:ANY':
    'prefix': 'check_dnsrr:ANY'
    'body': 'checkdnsrr(${1:host}, ANY);'
  '%check_dnsrr:CNAME':
    'prefix': 'check_dnsrr:CNAME'
    'body': 'checkdnsrr(${1:host}, CNAME);'
  '%check_dnsrr:MX':
    'prefix': 'check_dnsrr:MX'
    'body': 'checkdnsrr(${1:host}, MX);'
  '%check_dnsrr:NAPTR':
    'prefix': 'check_dnsrr:NAPTR'
    'body': 'checkdnsrr(${1:host}, NAPTR);'
  '%check_dnsrr:NS':
    'prefix': 'check_dnsrr:NS'
    'body': 'checkdnsrr(${1:host}, NS);'
  '%check_dnsrr:PTR':
    'prefix': 'check_dnsrr:PTR'
    'body': 'checkdnsrr(${1:host}, PTR);'
  '%check_dnsrr:SOA':
    'prefix': 'check_dnsrr:SOA'
    'body': 'checkdnsrr(${1:host}, SOA);'
  '%check_dnsrr:SRV':
    'prefix': 'check_dnsrr:SRV'
    'body': 'checkdnsrr(${1:host}, SRV);'
  '%check_dnsrr:TXT':
    'prefix': 'check_dnsrr:TXT'
    'body': 'checkdnsrr(${1:host}, TXT);'
  '%chunksplit':
    'prefix': 'chunksplit'
    'body': 'chunk_split(${1:body}${2:, ${3:chunklen}${4:, ${5:end}}});'
  '%classalias':
    'prefix': 'classalias'
    'body': 'class_alias(${1:original}, ${2:alias}${3:, ${4:autoload}});'
  '%classalias:false':
    'prefix': 'classalias:false'
    'body': 'class_alias(${1:original}, ${2:alias}, false);'
  '%classalias:true':
    'prefix': 'classalias:true'
    'body': 'class_alias(${1:original}, ${2:alias}, true);'
  '%classexists':
    'prefix': 'classexists'
    'body': 'class_exists(${1:class_name}${2:, ${3:autoload}});'
  '%classexists:false':
    'prefix': 'classexists:false'
    'body': 'class_exists(${1:class_name}, false);'
  '%classexists:true':
    'prefix': 'classexists:true'
    'body': 'class_exists(${1:class_name}, true);'
  '%classimplements':
    'prefix': 'classimplements'
    'body': 'class_implements(${1:class}${2:, ${3:autoload}});'
  '%classimplements:false':
    'prefix': 'classimplements:false'
    'body': 'class_implements(${1:class}, false);'
  '%classimplements:true':
    'prefix': 'classimplements:true'
    'body': 'class_implements(${1:class}, true);'
  '%classparents':
    'prefix': 'classparents'
    'body': 'class_parents(${1:class}${2:, ${3:autoload}});'
  '%classparents:false':
    'prefix': 'classparents:false'
    'body': 'class_parents(${1:class}, false);'
  '%classparents:true':
    'prefix': 'classparents:true'
    'body': 'class_parents(${1:class}, true);'
  '%classuses':
    'prefix': 'classuses'
    'body': 'class_uses(${1:class}${2:, ${3:autoload}});'
  '%classuses:false':
    'prefix': 'classuses:false'
    'body': 'class_uses(${1:class}, false);'
  '%classuses:true':
    'prefix': 'classuses:true'
    'body': 'class_uses(${1:class}, true);'
  '%close_dir':
    'prefix': 'close_dir'
    'body': 'closedir(${1:dir_handle});'
  '%close_log':
    'prefix': 'close_log'
    'body': 'closelog(${1});'
  '%connectionaborted':
    'prefix': 'connectionaborted'
    'body': 'connection_aborted(${1});'
  '%connectionstatus':
    'prefix': 'connectionstatus'
    'body': 'connection_status(${1});'
  '%convertuudecode':
    'prefix': 'convertuudecode'
    'body': 'convert_uudecode(${1:data});'
  '%convertuuencode':
    'prefix': 'convertuuencode'
    'body': 'convert_uuencode(${1:data});'
  '%countchars':
    'prefix': 'countchars'
    'body': 'count_chars(${1:string}${2:, ${3:mode}});'
  '%countchars:0':
    'prefix': 'countchars:0'
    'body': 'count_chars(${1:string}, 0);'
  '%countchars:1':
    'prefix': 'countchars:1'
    'body': 'count_chars(${1:string}, 1);'
  '%countchars:2':
    'prefix': 'countchars:2'
    'body': 'count_chars(${1:string}, 2);'
  '%countchars:3':
    'prefix': 'countchars:3'
    'body': 'count_chars(${1:string}, 3);'
  '%countchars:4':
    'prefix': 'countchars:4'
    'body': 'count_chars(${1:string}, 4);'
  '%createfunction':
    'prefix': 'createfunction'
    'body': 'create_function(${1:args}, ${2:code});'
  '%dateadd':
    'prefix': 'dateadd'
    'body': 'date_add(${1:time}${2:, ${3:interval}});'
  '%datecreate':
    'prefix': 'datecreate'
    'body': 'date_create(${1:time}${2:, ${3:timezone}});'
  '%get_dns_mx':
    'prefix': 'get_dns_mx'
    'body': 'getmxrr(${1:hostname}, ${2:&mxhosts}${3:, ${4:&weight}});'
  '%gz_decode':
    'prefix': 'gz_decode'
    'body': 'gzdecode(${1:data}${2:, ${3:length}});'
  '%gz_encode':
    'prefix': 'gz_encode'
    'body': 'gzencode(${1:data}${2:, ${3:level}${4:, ${5:encoding_mode}}});'
  '%gz_encode:FORCE_DEFLATE':
    'prefix': 'gz_encode:FORCE_DEFLATE'
    'body': 'gzencode(${1:data}${2:, ${3:level}}, FORCE_DEFLATE);'
  '%gz_encode:FORCE_GZIP':
    'prefix': 'gz_encode:FORCE_GZIP'
    'body': 'gzencode(${1:data}${2:, ${3:level}}, FORCE_GZIP);'
  '%image_font_height':
    'prefix': 'image_font_height'
    'body': 'imagefontheight(${1:int});'
  '%image_font_width':
    'prefix': 'image_font_width'
    'body': 'imagefontwidth(${1:int});'
  '%imap_get_acl':
    'prefix': 'imap_get_acl'
    'body': 'imap_getacl(${1:imap_stream}, ${2:mailbox});'
  '%imap_get_mailboxes':
    'prefix': 'imap_get_mailboxes'
    'body': 'imap_getmailboxes(${1:imap_stream}, ${2:ref}, ${3:pattern});'
  '%imap_get_subscribed':
    'prefix': 'imap_get_subscribed'
    'body': 'imap_getsubscribed(${1:imap_stream}, ${2:ref}, ${3:pattern});'
  '%imap_set_acl':
    'prefix': 'imap_set_acl'
    'body': 'imap_setacl(${1:imap_stream}, ${2:mailbox}, ${3:id}, ${4:rights});'
  '%imap_set_flag_full':
    'prefix': 'imap_set_flag_full'
    'body': 'imap_setflag_full(${1:imap_stream}, ${2:sequence}, ${3:flag}${4:, ${5:options}});'
  '%jsondecode':
    'prefix': 'jsondecode'
    'body': 'json_decode(${1:json}${2:, ${3:assoc}${4:, ${5:depth}${6:, ${7:options}}}});'
  '%jsondecode:JSON_BIGINT_AS_STRING':
    'prefix': 'jsondecode:JSON_BIGINT_AS_STRING'
    'body': 'json_decode(${1:json}, ${2:assoc}, ${3:depth}, JSON_BIGINT_AS_STRING);'
  '%jsonencode':
    'prefix': 'jsonencode'
    'body': 'json_encode(${1:value}${2:, ${3:options}${4:, ${5:depth}}});'
  '%jsonencode:JSON_FORCE_OBJECT':
    'prefix': 'jsonencode:JSON_FORCE_OBJECT'
    'body': 'json_encode(${1:value}, JSON_FORCE_OBJECT${2:, ${3:depth}});'
  '%jsonencode:JSON_HEX_AMP':
    'prefix': 'jsonencode:JSON_HEX_AMP'
    'body': 'json_encode(${1:value}, JSON_HEX_AMP${2:, ${3:depth}});'
  '%jsonencode:JSON_HEX_APOS':
    'prefix': 'jsonencode:JSON_HEX_APOS'
    'body': 'json_encode(${1:value}, JSON_HEX_APOS${2:, ${3:depth}});'
  '%jsonencode:JSON_HEX_QUOT':
    'prefix': 'jsonencode:JSON_HEX_QUOT'
    'body': 'json_encode(${1:value}, JSON_HEX_QUOT${2:, ${3:depth}});'
  '%jsonencode:JSON_HEX_TAG':
    'prefix': 'jsonencode:JSON_HEX_TAG'
    'body': 'json_encode(${1:value}, JSON_HEX_TAG${2:, ${3:depth}});'
  '%jsonencode:JSON_NUMERIC_CHECK':
    'prefix': 'jsonencode:JSON_NUMERIC_CHECK'
    'body': 'json_encode(${1:value}, JSON_NUMERIC_CHECK${2:, ${3:depth}});'
  '%jsonencode:JSON_PRETTY_PRINT':
    'prefix': 'jsonencode:JSON_PRETTY_PRINT'
    'body': 'json_encode(${1:value}, JSON_PRETTY_PRINT${2:, ${3:depth}});'
  '%jsonencode:JSON_UNESCAPED_SLASHES':
    'prefix': 'jsonencode:JSON_UNESCAPED_SLASHES'
    'body': 'json_encode(${1:value}, JSON_UNESCAPED_SLASHES${2:, ${3:depth}});'
  '%jsonencode:JSON_UNESCAPED_UNICODE':
    'prefix': 'jsonencode:JSON_UNESCAPED_UNICODE'
    'body': 'json_encode(${1:value}, JSON_UNESCAPED_UNICODE${2:, ${3:depth}});'
  '%obgetlength':
    'prefix': 'obgetlength'
    'body': 'ob_get_length();'
  '%php_version':
    'prefix': 'php_version'
    'body': 'phpversion(${1:extension});'
  '%raw_url_decode':
    'prefix': 'raw_url_decode'
    'body': 'rawurldecode(${1:str});'
  '%raw_url_encode':
    'prefix': 'raw_url_encode'
    'body': 'rawurlencode(${1:str});'
  '%sessiondecode':
    'prefix': 'sessiondecode'
    'body': 'session_decode(${1:data});'
  '%sessionencode':
    'prefix': 'sessionencode'
    'body': 'session_encode(${1:void});'
  '%set_cookie':
    'prefix': 'set_cookie'
    'body': 'setcookie(${1:name}${2:, ${3:value}${4:, ${5:expire}${6:, ${7:path}${8:, ${9:domain}${10:, ${11:secure}${12:, ${13:httponly}}}}}}});'
  '%set_locale':
    'prefix': 'set_locale'
    'body': 'setlocale(${1:category}, ${2:locale});'
  '%set_locale:LC_ALL':
    'prefix': 'set_locale:LC_ALL'
    'body': 'setlocale(LC_ALL, ${1:locale});'
  '%set_locale:LC_COLLATE':
    'prefix': 'set_locale:LC_COLLATE'
    'body': 'setlocale(LC_COLLATE, ${1:locale});'
  '%set_locale:LC_CTYPE':
    'prefix': 'set_locale:LC_CTYPE'
    'body': 'setlocale(LC_CTYPE, ${1:locale});'
  '%set_locale:LC_MESSAGES':
    'prefix': 'set_locale:LC_MESSAGES'
    'body': 'setlocale(LC_MESSAGES, ${1:locale});'
  '%set_locale:LC_MONETARY':
    'prefix': 'set_locale:LC_MONETARY'
    'body': 'setlocale(LC_MONETARY, ${1:locale});'
  '%set_locale:LC_NUMERIC':
    'prefix': 'set_locale:LC_NUMERIC'
    'body': 'setlocale(LC_NUMERIC, ${1:locale});'
  '%set_locale:LC_TIME':
    'prefix': 'set_locale:LC_TIME'
    'body': 'setlocale(LC_TIME, ${1:locale});'
  '%set_raw_cookie':
    'prefix': 'set_raw_cookie'
    'body': 'setrawcookie(${1:name}${2:, ${3:value}${4:, ${5:expire}${6:, ${7:path}${8:, ${9:domain}${10:, ${11:secure}${12:, ${13:httponly}}}}}}});'
  '%set_type':
    'prefix': 'set_type'
    'body': 'settype(${1:var}, ${2:type});'
  '%set_type:array':
    'prefix': 'set_type:array'
    'body': 'settype(${1:var}, "array");'
  '%set_type:boolean':
    'prefix': 'set_type:boolean'
    'body': 'settype(${1:var}, "boolean");'
  '%set_type:float':
    'prefix': 'set_type:float'
    'body': 'settype(${1:var}, "float");'
  '%set_type:integer':
    'prefix': 'set_type:integer'
    'body': 'settype(${1:var}, "integer");'
  '%set_type:null':
    'prefix': 'set_type:null'
    'body': 'settype(${1:var}, "null");'
  '%set_type:object':
    'prefix': 'set_type:object'
    'body': 'settype(${1:var}, "object");'
  '%set_type:string':
    'prefix': 'set_type:string'
    'body': 'settype(${1:var}, "string");'
  '%url_decode':
    'prefix': 'url_decode'
    'body': 'urldecode(${1:str});'
  '%url_encode':
    'prefix': 'url_encode'
    'body': 'urlencode(${1:str});'
  '%utf8decode':
    'prefix': 'utf8decode'
    'body': 'utf8_decode(${1:data});'
  '%utf8encode':
    'prefix': 'utf8encode'
    'body': 'utf8_encode(${1:data});'
  '%versioncompare':
    'prefix': 'versioncompare'
    'body': 'version_compare(${1:version1}, ${2:version2}${4:, ${5:operator}});'
  '%zendversion':
    'prefix': 'zendversion'
    'body': 'zend_version();'
  '%zlibdecode':
    'prefix': 'zlibdecode'
    'body': 'zlib_decode(${1:data}${2:, ${2:max_decoded_len}});'
  '%zlibencode':
    'prefix': 'zlibencode'
    'body': 'zlib_encode(${1:data}${2:, ${2:encoding}${4:, ${5:level}}});'
