'.source.php':
  '%arc_sin':
    'prefix': 'arc_sin'
    'body': 'asin(${1:float});'
  '%arc_sinh':
    'prefix': 'arc_sinh'
    'body': 'asinh(${1:float});'
  '%arc_tan':
    'prefix': 'arc_tan'
    'body': 'atan(${1:float});'
  '%arc_tan2':
    'prefix': 'arc_tan2'
    'body': 'atan2(${1:x},${2:y});'
  '%arc_tanh':
    'prefix': 'arc_tanh'
    'body': 'atanh(${1:float});'
  '%arcsin':
    'prefix': 'arcsin'
    'body': 'asin(${1:float});'
  '%arcsinh':
    'prefix': 'arcsinh'
    'body': 'asinh(${1:float});'
  '%arctan':
    'prefix': 'arctan'
    'body': 'atan(${1:float});'
  '%arctan2':
    'prefix': 'arctan2'
    'body': 'atan2(${1:x},${2:y});'
  '%arctanh':
    'prefix': 'arctanh'
    'body': 'atanh(${1:float});'
  '%array_count':
    'prefix': 'array_count'
    'body': 'count(${1:array_or_countable}${2:, ${3:${4:mode}}});'
  '%array_count:COUNT_RECURSIVE':
    'prefix': 'array_count:COUNT_RECURSIVE'
    'body': 'count(${1:array_or_countable}, COUNT_RECURSIVE);'
  '%array_current':
    'prefix': 'array_current'
    'body': 'current(${1:array});'
  '%array_reverse_sort':
    'prefix': 'array_reverse_sort'
    'body': 'arsort(${1:array}${2:, ${3:sort_flags}});'
  '%array_sort':
    'prefix': 'array_sort'
    'body': 'asort(${1:array}${2:, ${3:sort_flags}});'
  '%array_sort_reverse':
    'prefix': 'array_sort_reverse'
    'body': 'arsort(${1:array}${3:, ${4:sort_flags}});'
  '%array_sort_reverse:SORT_FLAG_CASE':
    'prefix': 'array_sort_reverse:SORT_FLAG_CASE'
    'body': 'arsort(${1:array}, SORT_FLAG_CASE);'
  '%array_sort_reverse:SORT_LOCALE_STRING':
    'prefix': 'array_sort_reverse:SORT_LOCALE_STRING'
    'body': 'arsort(${1:array}, SORT_LOCALE_STRING);'
  '%array_sort_reverse:SORT_NATURAL':
    'prefix': 'array_sort_reverse:SORT_NATURAL'
    'body': 'arsort(${1:array}, SORT_NATURAL);'
  '%array_sort_reverse:SORT_NUMERIC':
    'prefix': 'array_sort_reverse:SORT_NUMERIC'
    'body': 'arsort(${1:array}, SORT_NUMERIC);'
  '%array_sort_reverse:SORT_REGULAR':
    'prefix': 'array_sort_reverse:SORT_REGULAR'
    'body': 'arsort(${1:array}, SORT_REGULAR);'
  '%array_sort_reverse:SORT_STRING':
    'prefix': 'array_sort_reverse:SORT_STRING'
    'body': 'arsort(${1:array}, SORT_STRING);'
  '%array_sort:SORT_FLAG_CASE':
    'prefix': 'array_sort:SORT_FLAG_CASE'
    'body': 'asort(${1:array}, SORT_FLAG_CASE);'
  '%array_sort:SORT_LOCALE_STRING':
    'prefix': 'array_sort:SORT_LOCALE_STRING'
    'body': 'asort(${1:array}, SORT_LOCALE_STRING);'
  '%array_sort:SORT_NATURAL':
    'prefix': 'array_sort:SORT_NATURAL'
    'body': 'asort(${1:array}, SORT_NATURAL);'
  '%array_sort:SORT_NUMERIC':
    'prefix': 'array_sort:SORT_NUMERIC'
    'body': 'asort(${1:array}, SORT_NUMERIC);'
  '%array_sort:SORT_REGULAR':
    'prefix': 'array_sort:SORT_REGULAR'
    'body': 'asort(${1:array}, SORT_REGULAR);'
  '%array_sort:SORT_STRING':
    'prefix': 'array_sort:SORT_STRING'
    'body': 'asort(${1:array}, SORT_STRING);'
  '%bzip_close':
    'prefix': 'bzip_close'
    'body': 'bzclose(${1:bz});'
  '%bzip_compress':
    'prefix': 'bzip_compress'
    'body': 'bzcompress(${1:source}${2:, ${3:blocksize}${4:, ${5:workfactor}}});'
  '%bzip_compress:1':
    'prefix': 'bzip_compress:1'
    'body': 'bzcompress(${1:source}, 1${2:, ${3:workfactor}}});'
  '%bzip_compress:2':
    'prefix': 'bzip_compress:2'
    'body': 'bzcompress(${1:source}, 2${2:, ${3:workfactor}}});'
  '%bzip_compress:3':
    'prefix': 'bzip_compress:3'
    'body': 'bzcompress(${1:source}, 3${2:, ${3:workfactor}}});'
  '%bzip_compress:4':
    'prefix': 'bzip_compress:4'
    'body': 'bzcompress(${1:source}, 4${2:, ${3:workfactor}}});'
  '%bzip_compress:5':
    'prefix': 'bzip_compress:5'
    'body': 'bzcompress(${1:source}, 5${2:, ${3:workfactor}}});'
  '%bzip_compress:6':
    'prefix': 'bzip_compress:6'
    'body': 'bzcompress(${1:source}, 6${2:, ${3:workfactor}}});'
  '%bzip_compress:7':
    'prefix': 'bzip_compress:7'
    'body': 'bzcompress(${1:source}, 7${2:, ${3:workfactor}}});'
  '%bzip_compress:8':
    'prefix': 'bzip_compress:8'
    'body': 'bzcompress(${1:source}, 8${2:, ${3:workfactor}}});'
  '%bzip_compress:9':
    'prefix': 'bzip_compress:9'
    'body': 'bzcompress(${1:source}, 9${2:, ${3:workfactor}}});'
  '%bzip_decompress':
    'prefix': 'bzip_decompress'
    'body': 'bzdecompress(${1:source}${2:, ${3:small}});'
  '%bzip_decompress:small':
    'prefix': 'bzip_decompress:small'
    'body': 'bzdecompress(${1:source}, true);'
  '%bzip_error':
    'prefix': 'bzip_error'
    'body': 'bzerror(${1:bz});'
  '%bzip_error_number':
    'prefix': 'bzip_error_number'
    'body': 'bzerrno(${1:bz});'
  '%bzip_error_str':
    'prefix': 'bzip_error_str'
    'body': 'bzerrstr(${1:bz});'
  '%bzip_flush':
    'prefix': 'bzip_flush'
    'body': 'bzflush(${1:bz});'
  '%bzip_open':
    'prefix': 'bzip_open'
    'body': 'bzopen(${1:filename}, ${2:mode});'
  '%bzip_read':
    'prefix': 'bzip_read'
    'body': 'bzread(${1:bz}${2:, ${3:length}});'
  '%bzip_write':
    'prefix': 'bzip_write'
    'body': 'bzwrite(${1:bz}, ${2:data}${3:, ${4:${5:length}}});'
  '%change_dir':
    'prefix': 'change_dir'
    'body': 'chdir(\'${1:directory}\');'
  '%change_group':
    'prefix': 'change_group'
    'body': 'chgrp(${1:filename}, ${2:group});'
  '%change_mode':
    'prefix': 'change_mode'
    'body': 'chmod(${1:filename}, ${2:mode});'
  '%change_owner':
    'prefix': 'change_owner'
    'body': 'chown(${1:filename}, ${2:user});'
  '%character_return':
    'prefix': 'character_return'
    'body': 'chr(\'${1:ascii}\');'
  '%check_type_alnum':
    'prefix': 'check_type_alnum'
    'body': 'ctype_alnum(${1:text});'
  '%check_type_alpha':
    'prefix': 'check_type_alpha'
    'body': 'ctype_alpha(${1:text});'
  '%check_type_cntrl':
    'prefix': 'check_type_cntrl'
    'body': 'ctype_cntrl(${1:text});'
  '%check_type_digit':
    'prefix': 'check_type_digit'
    'body': 'ctype_digit(${1:text});'
  '%check_type_graph':
    'prefix': 'check_type_graph'
    'body': 'ctype_graph(${1:text});'
  '%check_type_lower':
    'prefix': 'check_type_lower'
    'body': 'ctype_lower(${1:text});'
  '%check_type_print':
    'prefix': 'check_type_print'
    'body': 'ctype_print(${1:text});'
  '%check_type_punct':
    'prefix': 'check_type_punct'
    'body': 'ctype_punct(${1:text});'
  '%check_type_space':
    'prefix': 'check_type_space'
    'body': 'ctype_space(${1:text});'
  '%check_type_upper':
    'prefix': 'check_type_upper'
    'body': 'ctype_upper(${1:text});'
  '%check_type_xdigit':
    'prefix': 'check_type_xdigit'
    'body': 'ctype_xdigit(${1:text});'
  '%crc32_encode':
    'prefix': 'crc32_encode'
    'body': 'crc32(${1:string});'
  '%encode_crc32':
    'prefix': 'encode_crc32'
    'body': 'crc32(${1:string});'
  '%file_copy':
    'prefix': 'file_copy'
    'body': 'copy(${1:source}, ${2:dest}${3:, ${4:context}});'
  '%filecopy':
    'prefix': 'filecopy'
    'body': 'copy(${1:source}, ${2:dest}${3:, ${4:context}});'
  '%get_mhash_name':
    'prefix': 'get_mhash_name'
    'body': 'mhash_get_hash_name(${1:hash});'
  '%gzip_decode':
    'prefix': 'gzip_decode'
    'body': 'gzdecode(${1:data}${2:, ${3:length}});'
  '%gzip_encode':
    'prefix': 'gzip_encode'
    'body': 'gzencode(${1:data}${2:, ${3:level}${4:, ${5:encoding_mode}}});'
  '%gzip_encode:FORCE_DEFLATE':
    'prefix': 'gzip_encode:FORCE_DEFLATE'
    'body': 'gzencode(${1:data}${2:, ${3:level}}, FORCE_DEFLATE);'
  '%gzip_encode:FORCE_GZIP':
    'prefix': 'gzip_encode:FORCE_GZIP'
    'body': 'gzencode(${1:data}${2:, ${3:level}}, FORCE_GZIP);'
  '%postgres_version':
    'prefix': 'postgres_version'
    'body': 'pg_version(${1:connection});'
